<h3> {{routeStops.name}}</h3>
<h3> {{routeStops.stopNo}} {{routeStops.stopName}}</h3>
<h2 ng-if='routeStops.showError'> No trips scehdules</h2>

<div ng-if='!routeStops.showError'>
	<ul class="list-inline" style="display: inline">
		<li ng-repeat='trip in routeStops.trips'> {{trip.AdjustedScheduleTime}}</li>
	</ul>
</div>


<button style="float: right" ng-click="routeStops.setFaveStatus(routeStops.name)" ng-class="'faveStatusBtn' + routeStops.faveStatus"> Favourite </button>

<div style="height: 100px"></div>