<ae-menu-bar icon="menu" title="Favourites"></ae-menu-bar>

<div id="tab-wrapper" >
    <ul class="tab-container">
        <li class="tab-item tab-active" id="routes-tab">
            ROUTES
        </li>
        <li class="tab-item" id="stops-tab">
            STOPS
        </li>
    </ul>
</div>

<div id='routes-tab-content' class="ae-tabs-content">
    <ae-route  ng-repeat="route in faves.routes" data-route="route" ng-show="route.favourite"></ae-route>
</div>
<div id='stops-tab-content' class="ae-tabs-content" style="display: none">
    <ae-stop ng-repeat="stop in faves.stops" data-stop="stop" ng-show="stop.favourite"></ae-stop>
</div>
